
<div id="about_background" class="photo_background">
	<div id="wrapper">
		<%= render "partials/navigation" %>

		<div id="about_wrapper">
			<div id="about_photos">
				<div id="about_left">
					<p style="position:absolute; top: 46px;" id="directionz"><span class="thin direction">click name for details</span></p>	
					<div class="about_photo karin" id="k-thumb">
						<div class="name-tag" onclick="showKA()">
							<p class="blue thin">Karin Ramos</p>
						</div>
					</div>
					<div class="about_photo avery" id="a-thumb">
						<div class="name-tag" onclick="showAV()">
							<p class="blue thin">Avery La Fleur</p>
						</div>
					</div>
					<div class="about_photo simona" id="s-thumb">
						<div class="name-tag" onclick="showSI()">
							<p class="blue thin">Simona Shapiro</p>
						</div>
					</div>
					<div class="hide" id="group-thumb">
						<h2><span>Back</span></h2>
						<%= image_tag "about-us-group-thumb.jpg", onclick: "showGroup();" %>
					</div>				
				</div>
				<div id="about_right">
					<div id="group_photo">
						<%= image_tag "about-us-group.jpg", alt: "Vows Events Staff" %>
					</div>
					<div id="about-karin" class="hide">
						<div style="padding-right: 16px">
							<%= image_tag "about-karin.jpg", alt: "Karin Ramos Vows Events" %>
						</div>
						<div>
							<p class="thin" style="text-align: justify"><span class="blue">Karin Ramos</span><br/>
							A planner by nature, Karin keeps a mental checklist from A-Z. She is a problem-solver, 
							peacekeeper, and loves to incorporate personal touches into events; providing clients with the WOW 
							factor. She considers herself to be a cake and cupcake aficionado.</p> 
						</div> 
					</div>
					<div id="about-avery" class="hide">
						<div style="padding-right: 16px">
							<%= image_tag "about-avery.jpg", alt: "Avery S. Fleur Vows Events" %>
						</div>
						<div>
							<p class="thin" style="text-align: justify"><span class="blue">Avery S. La Fleur</span><br/>
							Avery has a Master&#39;s degree in Social Work and a personal knack for being obsessive 
							compulsive with the fine details of event planning. His personal diagnosis allows his clients to feel at 
							ease, and provided with the sense of being in good hands.</p> 
						</div> 
					</div>
					<div id="about-simona" class="hide">
						<div style="padding-right: 16px">
							<%= image_tag "about-simona.jpg", alt: "Simona Shapiro Vows Events" %>
						</div>
						<div>
							<p class="thin" style="text-align: justify"><span class="blue">Simona Shapiro</span><br/>
							Dog lover, former teeny-bopper, and DIY craft enthusiast, Simona creates buzz for the Events club and is 
							enthusiastic to plan your event. She is a sucker for a good love story and can't wait to hear yours!.</p>
						</div>
					</div> 
				</div>
			</div>

			<div>
				<p class="thin" style="text-align:justify; margin-top: 20px">
					<span class="dropletter">W</span>e are a team of three based in Denver, Colorado. Our goal is to render
				your event expectations as accurately and stress-free as possible. We pride ourselves
				on our organization, attention to detail and awareness of both today's trends and
				succesful traditions.
				</p>
			</div>
		</div>
		<div>

			<!-- I've re-used the testimony-sm (social media) though this is not syntactically sound -->
			<div id="testimony-sm">
				<a href="http://www.pinterest.com/vowseventsdenvr/" target="_blank" class="no_bar">
					<span class="pint"></span>
				</a>
				<a href="https://twitter.com/VowsEventsDenvr" target="_blank" class="no_bar">
					<span class="fbook"></span>
				</a>
				<a href="https://www.facebook.com/vowsevents" class ="no_bar" target="_blank">
					<span class="twit"></span>
				</a>	
			</div>
		</div>
	</div>
</div>

<div id="footer">
		<p class="thin blue">&copy; Vows Events, 2013</p>
</div>
