
<div id="wrapper">
	<%= render "partials/navigation" %>

	<div id="testimony-wrapper">
		<div id="testimony-header">
			<h1 class="dg">Testimonials</h1>
		</div>

		<div id="testimony">
			<div>
				<p class="thin"><span class="blue big">Jen &amp; Rob</span>
					<br/>
					<%= @jen_rob.quote %>
				<br/>
				<br/>

					<span class="contact-navigation show-testimony" >read testimonial</span>
					<%= link_to "read testimonial", testimony_path(id: 1), class: "contact-navigation show-testimony" %>

				</p>
			</div>
			<div>
			<p class="thin"><span class="blue big">Rhonda &amp; Maynard</span>
				<br/>
					<%= @rhonda_maynard.quote %>
				<br/>
					<%= link_to "read testimonial", testimony_path(id: 2), class: "contact-navigation show-testimony" %>
					<%= link_to "read testimonials", testimony_path(id: 3), class: "contact-navigation show-testimony" %>
			</div>
		</div>
		<div id="testimony-sm">
			<a href="http://www.pinterest.com/vowseventsdenvr/" target="_blank" class="no_bar">
				<span class="pint"></span>
			</a>
			<a href="https://twitter.com/VowsEventsDenvr" target="_blank" class="no_bar">
				<span class="fbook"></span>
			</a>
			<a href="https://www.facebook.com/vowsevents" class ="no_bar" target="_blank">
				<span class="twit"></span>
			</a>	
		</div>
	</div>
</div>
<div id="footer">
	<p class="thin blue">&copy; Vows Events, 2013</p>
</div>

