	<script type="text/javascript" data-turbolinks-eval=false>
		$(window).load(function centerImages() {
	    // get width of all pictures
	    // get width of each picture
	    // record left px for of each picture
	    // insert in each of the elements
	    // use that to move the scroll bar left and right
	    

	    $('.slide-right').on('click', function(){

	        $('#measure').animate({

	        }, 500);
	    	}
    	});

	    $('.slide-left').on('click', function(){

	        $('#measure').animate({

	        }, 500);
	    	}
	    });
		});
	</script>

	<div class="photo_background" id="gallery_background">
		<div id="wrapper">
			<%= render "partials/navigation" %>

			<div id="gallery-navigation">
				<ul>
					<% @events.each do |event| %>
						<li><%= link_to event.name, gallery_index_path(event_id: event.id), { :onclick => "history.go(0)" } %></li>
					<% end %>
				</ul>
				<h1>Gallery</h1>
			</div>
			<div id="gallery">
				<input type="button" id="slide-left" class="slide-left gallery_control">
				<div class="gallery-images">
					<div id="measure">
						<div class="long-div">
							<span id='photo_count'><%= @photo_count %></span>
							<% if @photo1 && @photo2 && @photo3 %>
								<%= image_tag @photo1.s3_image_url.url(:medium), id: "photo1", class: "photos"  %>
								<%= image_tag @photo2.s3_image_url.url(:medium), id: "photo2", class: "photos" %>	
								<%= image_tag @photo3.s3_image_url.url(:medium), id: "photo3", class: "photos" %>
								<% if @photo4 %>
									<%= image_tag @photo4.s3_image_url.url(:medium), id: "photo4", class: "photos" %>
								<% end %>
								<% if @photo5 %>
									<%= image_tag @photo5.s3_image_url.url(:medium), id: "photo5", class: "photos" %>
								<% end %>
								<% if @photo6 %>
									<%= image_tag @photo6.s3_image_url.url(:medium), id: "photo6", class: "photos" %>
								<% end %>
								<% if @photo7 %>
									<%= image_tag @photo7.s3_image_url.url(:medium), id: "photo7", class: "photos" %>
								<% end %>
								<% if @photo8 %>
									<%= image_tag @photo8.s3_image_url.url(:medium), id: "photo8", class: "photos" %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
				<input type="button" id="slide-right" class="slide-right gallery_control">
			</div>

			<div id="gallery-details">
				<div class="gallery-details-show" id="gds">
					<p class="thin">
						<span onclick="showGD()" class="thin blue"  style="cursor:pointer; margin-left: -70px;">Show Wedding Details</span>
					</p>
				</div>

				<div class="hide gallery-details" id="gd">	
					<div>
						<p class="thin">
							<% @vendors.each do |vendor| %>
									<%= vendor.vendor_type %>:
									<%= link_to vendor.name, vendor.url, class: "no_bar blue", target: "_blank" %>
							<% end %>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<p class="thin blue">&copy; Vows Events, 2013</p>
		</div>
	</div>
	<script type="text/javascript" data-turbolinks-eval=false>

		// SHOW GALLERY DETAILS (or WEDDING DETAILS)
		// NOTE: AT THE MOMENT, THIS RESETS TO THE TOP OF THE PAGE. 
		// IDEALLY IT WON'T

		function showGD() {
			document.getElementById("gds").className = "hide";
			document.getElementById("gd").className = "show";
			document.getElementById("gd").className += " gallery-details";
		}
	</script>
