	<script type="text/javascript" data-turbolinks-eval=false>
		$(window).load(function centerImages() {
	    var photos = $('.photos')
	    var sum = 0;
	    var photoArray = [];
	    var itemsInArray = 0;
	    $.each(photos, function(index, photo) {
	    	photoArray.push($(photo).width())
	    	sum += photoArray[index];
	    	itemsInArray += 1;
	    });

	    console.log(sum)
	    $('#measure').width(sum+100)
	    var pixelMovement = 500 - (photoArray[1]/2) - photoArray[0];
	    $('#measure').css('left', pixelMovement)

    	var counter = 1;

	    $('.slide-right').on('click', function(){

    		if ((counter > 0) && (counter <= itemsInArray)){
    			counter -= 1;
    			pixelMovement += (photoArray[counter+1]/2)+(photoArray[counter]/2);
    		}
    		console.log(counter, pixelMovement, itemsInArray);
        $('#measure').animate({
        	left: pixelMovement + "px"
        }, 500);
    	});

	    $('.slide-left').on('click', function(){
	    	if (counter < (itemsInArray-1)){
	    		counter += 1;
    			pixelMovement -= (photoArray[counter-1]/2)+(photoArray[counter]/2);
	    	}
    		console.log(counter, pixelMovement, itemsInArray);

        $('#measure').animate({
        	left: pixelMovement + "px"
        }, 500);
	    });

	    var photoDiv = function () {
	    	photos = $('.photos')
		    sum = 0;
		    photoArray = [];
		    itemsInArray = 0;
		    $.each(photos, function(index, photo) {
		    	photoArray.push($(photo).width())
		    	sum += photoArray[index];
		    	itemsInArray += 1;
		    });

		    $('#measure').width(sum)
	    }
		});
	</script>

	<div class="photo_background" id="gallery_background">
		<div id="wrapper">
			<%= render "partials/navigation" %>

			<div id="gallery-navigation">
				<ul>
					<% @events.each do |event| %>
						<li><%= link_to event.name, gallery_index_path(event_id: event.id), { :onclick => "history.go(0)" } %></li>
					<% end %>
				</ul>
				<h1 class="dg">Gallery</h1>
			</div>
			<div id="gallery">
				<div class="gallery-images">
					<input type="button" id="slide-left" class="slide-left gallery_control" value="&#160;">
					<div id="measure">
							<span id='photo_count'><%= @photo_count %></span>
							<% if @photo1 && @photo2 && @photo3 %>
								<%= image_tag @photo1.s3_image_url.url(:medium), id: "photo1", class: "photos"  %>
								<%= image_tag @photo2.s3_image_url.url(:medium), id: "photo2", class: "photos" %>	
								<%= image_tag @photo3.s3_image_url.url(:medium), id: "photo3", class: "photos" %>
								<% if @photo4 %>
									<%= image_tag @photo4.s3_image_url.url(:medium), id: "photo4", class: "photos" %>
								<% end %>
								<% if @photo5 %>
									<%= image_tag @photo5.s3_image_url.url(:medium), id: "photo5", class: "photos" %>
								<% end %>
								<% if @photo6 %>
									<%= image_tag @photo6.s3_image_url.url(:medium), id: "photo6", class: "photos" %>
								<% end %>
								<% if @photo7 %>
									<%= image_tag @photo7.s3_image_url.url(:medium), id: "photo7", class: "photos" %>
								<% end %>
								<% if @photo8 %>
									<%= image_tag @photo8.s3_image_url.url(:medium), id: "photo8", class: "photos" %>
								<% end %>
							<% end %>
					</div>
					<input type="button" id="slide-right" class="slide-right gallery_control" value="&#160;">
				</div>
			</div>

			<div id="gallery-details">
				<div class="gallery-details-show" id="gds">
					<p class="thin">
						<span onclick="showGD()" class="thin blue"  style="cursor:pointer; margin-left: -70px;">Show Wedding Details</span>
					</p>
				</div>

				<div class="hide gallery-details" id="gd">	
					<div>
						<p class="thin">
							<% @vendors.each do |vendor| %>
									<%= vendor.vendor_type %>:
									<%= link_to vendor.name, vendor.url, class: "no_bar blue", target: "_blank" %>
							<% end %>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<p class="thin blue">&copy; Vows Events, 2013</p>
		</div>
	</div>
	<script type="text/javascript" data-turbolinks-eval=false>

		// SHOW GALLERY DETAILS (or WEDDING DETAILS)
		// NOTE: AT THE MOMENT, THIS RESETS TO THE TOP OF THE PAGE. 
		// IDEALLY IT WON'T

		function showGD() {
			document.getElementById("gds").className = "hide";
			document.getElementById("gd").className = "show";
			document.getElementById("gd").className += " gallery-details";
		}
	</script>
