	<script type="text/javascript">
		function centerImages() {
			var y = document.getElementById("center").offsetWidth;
			var z = document.getElementById("left").offsetWidth;
			// find what lies beyond the halfway point of the 1000px container div
			// by subtracting half of it from half of the center image and all of the left image
			var x = (y / 2) + z - 500;
			// set the left margin of the image container div as that surplus
			document.getElementById("measure").style.marginLeft= "-"+x+"px";
			console.log(y, z, x)
		}
	</script>

	<body onload="centerImages();">
		<div id="wrapper">
			<%= render "partials/navigation" %>

			<div id="gallery-navigation">
				<ul>
					<% @events.each do |event| %>
						<li><%= link_to event.name, gallery_index_path(event_id: event.id), { :onclick => "history.go(0)" } %></li>
					<% end %>
				</ul>
				<h1>Gallery</h1>
			</div>
			<div id="gallery">
				<div class="gallery-images">
					<div id="measure">
						<% if @photo1 && @photo2 && @photo3 %>
							<%= image_tag @photo1.s3_image_url.url(:medium), id: "left" %>
							<%= image_tag @photo2.s3_image_url.url(:medium), id: "center" %>	
							<%= image_tag @photo3.s3_image_url.url(:medium), id: "right" %>
						<% end %>
				</div>
				</div>
			</div>

			<div id="gallery-details">
				<div class="gallery-details-show" id="gds">
					<p>
						<a href="#" onclick="showGD()" class="thin">Show Wedding Details</a>
					</p>
				</div>

				<div class="hide gallery-details" id="gd">	
					<div>
						<p class="thin">
							Photography <br/>
							<a href="#" class="no_bar blue"> Sample Photographer </a>
						</p>
					</div>
					<div>
						<p class="thin">
							Catering <br/>
							<a href="#" class="no_bar blue"> Sample Caterer</a>
						</p>
					</div>
					<div>
						<p class="thin">
							Venue <br/>
							<a href="#" class="no_bar blue"> Sample Venue </a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<p class="thin blue">&copy; Vows Events, 2013</p>
		</div>
	</body>

	<script type="text/javascript">

		// SHOW GALLERY DETAILS (or WEDDING DETAILS)
		// NOTE: AT THE MOMENT, THIS RESETS TO THE TOP OF THE PAGE. 
		// IDEALLY IT WON'T

		function showGD() {
			document.getElementById("gds").className = "hide";
			document.getElementById("gd").className = "show";
			document.getElementById("gd").className += " gallery-details";
		}
	</script>
